<div class="app-board">
  <div class="app-board-row" data-row="0">
    <app-board-tile #tile_0_0 [row]="0" [col]="0" (click)="onTileClicked(tile_0_0)"></app-board-tile>
    <app-board-tile #tile_0_1 [row]="0" [col]="1" (click)="onTileClicked(tile_0_1)"></app-board-tile>
    <app-board-tile #tile_0_2 [row]="0" [col]="2" (click)="onTileClicked(tile_0_2)"></app-board-tile>
  </div>
  <div class="app-board-row" data-row="1">
    <app-board-tile #tile_1_0 [row]="1" [col]="0" (click)="onTileClicked(tile_1_0)"></app-board-tile>
    <app-board-tile #tile_1_1 [row]="1" [col]="1" (click)="onTileClicked(tile_1_1)"></app-board-tile>
    <app-board-tile #tile_1_2 [row]="1" [col]="2" (click)="onTileClicked(tile_1_2)"></app-board-tile>
  </div>
  <div class="app-board-row" data-row="2">
    <app-board-tile #tile_2_0 [row]="2" [col]="0" (click)="onTileClicked(tile_2_0)"></app-board-tile>
    <app-board-tile #tile_2_1 [row]="2" [col]="1" (click)="onTileClicked(tile_2_1)"></app-board-tile>
    <app-board-tile #tile_2_2 [row]="2" [col]="2" (click)="onTileClicked(tile_2_2)"></app-board-tile>
  </div>
</div>